<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal"><%= link_to '賺很大商店', root_path %></h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <%= link_to '商品列表', products_path, class: 'p-2 text-dark' %>
    <%= link_to "購物車(#{current_cart.items.count})", cart_path, class: 'p-2 text-dark' %>
  </nav>
  <a class="btn btn-outline-primary" href="#">註冊</a>
</div>
